
body {
    background: #f0f0f0;
}

#menubar {
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#navbar .active a{
    background: #36ac4d;
    color: rgb(31, 31, 31);
    font-weight: bold;
}

#menubar li :hover {
    background: #36ac4d;
    color: rgb(31, 31, 31);
    
}

#menubar .navbar-brand {
    color: #f0f0f0;
}

#menubar li a {
    color: #f0f0f0;
}

#container-title {
    font-family: "Arial Black", Gadget, sans-serif;
    color: #f0f0f0;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.container {
    background: rgb(31, 31, 31);
    margin-top: 30px;
}

.canvas-holder {
    float: left;
}

.chart-info {
    width: 400px;
    height: 400px;
    background: rgb(31, 31, 31);
    margin-bottom: 25px;
}

.chart-details {
    width: 400px;
    height: 300px;
    background: rgb(31, 31, 31);
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.chart-details h4 {
    color: #f0f0f0;
}

.fill-out-holder {
    width: 720px;
    height: 700px;
    background: #36ac4d;
    margin-bottom: 35px;
    float: left;
}

.user-input {
    padding-left: 30px;
    padding-top: 10px;
}

.user-input #income {
    float: left;
    margin-left: 22px;
    color: rgb(31, 31, 31);
    font-family: "Verdana", Geneva, sans-serif;
}

.user-input #monthly-expenses {
    float: left;
    margin-left: 22px;
    color: rgb(31, 31, 31);
    font-family: "Verdana", Geneva, sans-serif;
}

.user-input #savings {
    float: left;
    margin-left: 22px;
    color: rgb(31, 31, 31);
    font-family: "Verdana", Geneva, sans-serif;
}